<!doctype html>
<html class="h-full">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Babycool">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Social Images - {{ get_content:id }}{{ title }}{{ /get_content:id }}</title>
        {{ vite src="resources/css/site.css" }}
    </head>
    <body class="py-8 flex flex-col items-center space-y-8">
        <div>
            <h2 class="mb-4 text-xs text-gray-900 font-bold uppercase tracking-widest">OG</h2>
            {{ partial:components/social_image selector="og" style="width: 1200px; height: 630px" }}
        </div>
        <div>
            <h2 class="mb-4 text-xs text-gray-900 font-bold uppercase tracking-widest">Twitter</h2>
            {{ partial:components/social_image selector="twitter" style="width: 1200px; height: 600px" }}
        </div>
    </body>
</html>