<section class="fluid-container">
    <p class="flex justify-center text-xl leading-tight mb-8 font-[Raleway] font-semibold lg:text-[39px] px-8 lg:px-0">{{ title}}</p>
    <div class="flex flex-col-reverse px-8 lg:px-0 lg:grid lg:grid-cols-12 gap-8">
        <div class="grid col-start-2 col-span-8 lg:col-start-1 lg:col-span-6">
            {{ if image }}
            {{ asset :url="image" }}
            <picture class="flex aspect-auto">
                {{ if extension == 'svg' || extension == 'gif' }}
                <img class="{{ class }}" src="{{ url }}" alt="{{ alt | ensure_right('.') | entities }}" width="{{ width }}" height="{{ height }}" {{ unless alt }} aria-hidden="true" {{ /unless }} />
                {{ else }}
                <source srcset="
                    {{ srcsets scope=" size" }} {{ glide:image width="{ size:width }" height="{ size:width * size:ratio }" :bg="bg" :blur="blur" :brightness="brightness" :contrast="contrast" :filter="filter" :gamma="gamma" :pixelate="pixelate" :sharpen="sharpen" fit="crop_focal" format="webp" quality="{ quality ?? '40' }" }} {{ size:width }}w{{ !last ?=',' }} {{ /srcsets }} "
                    sizes=" {{ sizes ?? '(min-width: 1280px) 640px, (min-width: 768px) 50vw, 90vw' }}" type="image/webp">
                <source srcset="
                    {{ srcsets scope=" size" }} {{ glide:image width="{ size:width }" height="{ size:width * size:ratio }" :bg="bg" :blur="blur" :brightness="brightness" :contrast="contrast" :filter="filter" :gamma="gamma" :pixelate="pixelate" :sharpen="sharpen" fit="crop_focal" quality="{ quality ?? '40' }" }} {{ size:width }}w{{ !last ?=',' }} {{ /srcsets }} "
                    sizes=" {{ sizes ?? '(min-width: 1280px) 640px, (min-width: 768px) 50vw, 90vw' }}" type="{{ image.mime_type }}">
                <img width="{{ width }}" 
                    height="{{ height }}" class="rounded-md" src="{{ glide:image
                    width=" 1024" height="{ 1024 * original_ratio }" fit="crop_focal" :bg="bg" :blur="blur" :brightness="brightness" :contrast="contrast" :filter="filter" :gamma="gamma" :pixelate="pixelate" :sharpen="sharpen" quality="{ quality ?? '40' }" }}" alt="{{ alt | ensure_right('.') | entities }}" {{ if cover }} class="object-cover w-full h-full {{ class }}" style="object-position: {{ focus | background_position }}" {{ else }} class="{{ class }}" {{ /if }} {{ unless alt }} aria-hidden="true" {{ /unless }} {{ if lazy }} loading="lazy" {{ /if }}>
                {{ /if }}
            </picture>
            {{ /asset }}
            {{ /if }}
        </div>
        {{ if image }}
        <div class="grid col-start-3 col-span-8 lg:col-start-7 lg:col-span-6">
            {{ partial:typography/prose as="article" class="contents" }}
            {{ article }}
            {{ partial src="components/{type}" }}
            {{ /article }}
            {{ /partial:typography/prose }}
        </div>
        {{ else }}
        <div class="grid col-start-3 col-span-8 lg:col-start-1 lg:col-span-12">
            {{ partial:typography/prose as="article" class="contents" }}
            {{ article }}
            {{ partial src="components/{type}" }}
            {{ /article }}
            {{ /partial:typography/prose }}
        </div>
        {{ /if }}
    </div>
</section>
